<!DOCTYPE HTML>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/static.css}">
</head>
<body>

<div class="contacts-container">
    <h1>Контакты</h1>



    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Телефон</th>
            <th><a href = "search">/Искат</a></th>
        </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.number }}</td>
                <td><a href="edit/{{contact.id}}">Изменить</a> | <a href="delete/{{contact.id}}">Удалить</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


</body>
</html>